[submodule "themes/hugo-geekdoc"]
	path = themes/hugo-geekdoc
	url = https://github.com/thegeeklab/hugo-geekdoc
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/theer"]
	path = themes/theer
	url = https://github.com/qqhann/theer.git
[submodule "themes/hugo-classic"]
	path = themes/hugo-classic
	url = https://github.com/goodroot/hugo-classic 
